.autors {
  position: relative;
  background-color: lightgrey;
  padding: 30px 10px;
  &__wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 20px;
  }
}

.autor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  max-width: 300px;
  height: 100%;
  padding: 24px 24px;
  border-radius: 30px;
  border: 1px solid #dee2e6;
  background: #fff;

  &__name {
    font-family: "lemon";
  }
  &__description {
    font-family: "Instrument Serif";
  }

  &__img {
    max-width: 250px;
    max-height: 180px;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
    background: lightgrey;
  }

  &__article-evaluation {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  &__like {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 1000px;
  }
}
